{% extends 'base.html.twig' %}

{% block title %} Главная {% endblock %}

{% block body %}

    <div>Добро пожаловать!</div>


    <div class="mx-auto" style="width: 600px">
        {% for event in events %}
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li>Название: {{ event.name }}</li>
                        <li>Дата: {{ event.date | date() }}</li>
                        <li>Описание: {{ event.description }}</li>
                        <li>Запись создана: {{ event.createdAt | date() }}</li>
                        <li>Отзывов: {{ getReviewsCount(event.id) }}</li>
                    </ul>
                </div>
                <div>
                    <a href="{{ path('view_event', {'eventId': event.id}) }}">
                        <button class="btn btn-primary btn-sm float-right" style="margin-bottom: 20px;margin-right: 20px">
                            Подробнее
                        </button>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('delete_event', {'eventId': event.id}) }}">
                        <button class="btn btn-secondary btn-sm float-right" style="margin-right: 5px">
                            Удалить
                        </button>
                    </a>
                    <a href="{{ path('edit_event', {'eventId': event.id}) }}">
                        <button class="btn btn-primary btn-sm float-right" style="margin-bottom: 20px;margin-right: 5px">
                            Изменить
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% set max = allPages|number_format() %}
                {% for i in range(1,  max) %}
                    <a class="page-link" href="{{ path('index', {'page': i}) }}">{{ i }}</a>
                {% endfor %}
            </ul>
        </nav>

    </div>


{% endblock %}