{% extends 'base.html.twig' %}

{% block title %} Авторизация {% endblock %}

{% block body %}
    {% block contact_form %}{% endblock %}
    {% block links %}{% endblock %}

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Выйти</a>
            </div>
        {% endif %}

        <h2>Пожалуйста, авторизуйтесь или создайте аккаунт</h2>
        <br>
        <label for="inputUsername" class="sr-only">Username</label>
        <input style="width: 30%; margin: 10px" type="text" value="{{ last_username }}" name="username" id="inputUsername"  placeholder="Username" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input style="width: 30%" type="password" name="plainPassword" id="inputPlainPassword" placeholder="Password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <br>
        <br>

        <button class="btn btn-lg btn-primary" type="submit">Войти</button>
    </form>
{% endblock %}